@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}